export EMAIL=''
export GIT_AUTHOR_NAME=''
export GIT_AUTHOR_EMAIL=''
export GIT_COMMITTER_NAME=''
export GIT_COMMITTER_EMAIL=''
export GIT_CONFIG_COUNT=3
export GIT_CONFIG_KEY_0='user.signingKey'
export GIT_CONFIG_VALUE_0=''
export GIT_CONFIG_KEY_1='sendemail.smtpUser'
export GIT_CONFIG_VALUE_1=''
export GIT_CONFIG_KEY_2='merge.conflictStyle'
export GIT_CONFIG_VALUE_2=''

[ -x "$(type -P delta)" ] && export GIT_PAGER=delta

if [ -x "$(type -P pipx)" ]; then
    export PIPX_HOME="$HOME/.local/pipx/$(python3 -c 'import platform as p; print(p.python_version())')"
    export PIPX_BIN_DIR="$HOME/.local/pipx/$(python3 -c 'import platform as p; print(p.python_version())')/bin"
    PATH_add "$PIPX_BIN_DIR"
fi

if [ -s "$NVM_DIR/nvm.sh" ]; then
    export NODE_VERSIONS="$NVM_DIR/versions/node"
    export NODE_VERSION_PREFIX=""
fi
