export EMAIL="wyuenho@gmail.com"
export GIT_AUTHOR_NAME="Jimmy Yuen Ho Wong"
export GIT_COMMITTER_NAME="Jimmy Yuen Ho Wong"
export GIT_CONFIG_COUNT=1
export GIT_CONFIG_KEY_0=user.signingKey
export GIT_CONFIG_VALUE_0=D1D84FDB614C2B7C
