[user]
	name = Jimmy Yuen Ho Wong
	email = wyuenho@gmail.com
	signingkey = 851DCF582E199A7C8B900354F63B916754790B33

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input

[difftool "ediff"]
	cmd = emacsclient --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "ediff"]
	cmd = emacsclient --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[credential]
	helper = osxkeychain

[alias]
	co = checkout
	ci = commit
	st = status
	up = pull
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge

[color]
	ui = true

[push]
	default = simple

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[diff]
	submodule = log

[github]
	user = wyuenho@gmail.com

[transfer]
	fsckObjects = true

[commit]
	gpgsign = true
[fetch]
	fsckobjects = false
