[user]
	name = Jimmy Yuen Ho Wong
	email = wyuenho@gmail.com
	signingkey = D1D84FDB614C2B7C

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta

[difftool "ediff"]
	cmd = emacsclient --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "ediff"]
	cmd = emacsclient --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[merge]
	tool = ediff
	conflictStyle = diff3

[alias]
	co = checkout
	ci = commit
	st = status
	up = pull
	rs = restore
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
	# git change-commits GIT_COMMITTER_NAME "old name" "new name"
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
	# from https://help.github.com/articles/remove-sensitive-data
	remove-file = "!f() { git filter-branch -f --index-filter \"git rm --cached --ignore-unmatch $1\" --prune-empty --tag-name-filter cat -- --all; }; f"

[color]
	ui = true

[push]
	default = simple

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[diff]
	submodule = log

[github]
	user = wyuenho@gmail.com

[transfer]
	fsckObjects = true

[commit]
	gpgsign = true

[fetch]
	fsckObjects = false

[credential]
	helper = osxkeychain
	useHttpPath = true

[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = wyuenho@gmail.com
	smtpServerPort = 465

[pull]
	ff = only

[interactive]
	diffFilter = delta --color-only

[delta]
	hunk-header-style = syntax
	line-numbers = true
	syntax-theme = zenburn
	tabs = 2
[init]
	defaultBranch = main
