[core]
	autocrlf = input
	fsmonitor = true
	untrackedCache = true

[credential]
	helper = osxkeychain
	useHttpPath = true

[alias]
	bi = bisect
	br = branch
	co = checkout
	ci = commit
	st = status
	up = pull
	rs = restore
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
	# git change-commits GIT_COMMITTER_NAME "old name" "new name"
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
	# from https://help.github.com/articles/remove-sensitive-data
	remove-file = "!f() { git filter-branch -f --index-filter \"git rm --cached --ignore-unmatch $1\" --prune-empty --tag-name-filter cat -- --all; }; f"

[delta]
	hunk-header-style = syntax
	line-numbers = true
	syntax-theme = zenburn
	tabs = 4
	max-line-length = 2048

[difftool "ediff"]
	cmd = emacsclient --eval "(ediff-files \"$LOCAL\" \"$REMOTE\")"

[mergetool "ediff"]
	cmd = emacsclient --eval "(ediff-merge-files-with-ancestor \"$LOCAL\" \"$REMOTE\" \"$BASE\" nil \"$MERGED\")"

[difftool "opendiff"]
	cmd = opendiff "$LOCAL" "$REMOTE"
	path =

[difftool "kitty"]
	cmd = kitty +kitten diff "$LOCAL" "$REMOTE"

[difftool "kitty.gui"]
	cmd = kitty kitty +kitten diff "$LOCAL" "$REMOTE"

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[mergetool "opendiff"]
	cmd = opendiff "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED" | cat
	trustExitCode = true

[mergetool]
	keepBackup = false
	prompt = false
	hideResolved = true

[interactive]
	diffFilter = ([ $(type -P delta) ] && delta --color-only)

[init]
	defaultBranch = main

[diff]
	submodule = log
	colorMoved = default

[transfer]
	fsckObjects = true

[fetch]
	fsckObjects = false

[pull]
	ff = only
	rebase = true

[commit]
	gpgSign = true

[push]
	default = simple

[merge]
	tool = ediff
	guitool = opendiff
	conflictStyle = zdiff3
	autoStash = true

[rebase]
	autoStash = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpServerPort = 465
